body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #111;
  transition: 0.3s;
}
body.dark {
  background: #0f172a;
  color: white;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
h1 {
  text-align: center;
}
input {
  width: 60%;
  padding: 10px;
  display: block;
  margin: 10px auto;
}
.filters {
  text-align: center;
}
button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}
#newsContainer, #savedContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
}
body.dark .card {
  background: #1e293b;
}
.saved-card {
  background: #dbeafe;
  padding: 10px;
  border-radius: 10px;
}
body.dark .saved-card {
  background: #334155;
}